@charset "utf-8";

html {
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $color-text;
}
main {
  margin-top: 10rem;
}
ul, li {
  list-style: none;
}
.mt32 {
  margin-top: 3.2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 8rem;
  background-color: $color-white;
  -webkit-filter: drop-shadow(0 0 0.6rem rgba(0,0,0,.1));
  filter: drop-shadow(0 0 1rem rgba(0,0,0,.1));

  &__inner {
    width: 108rem;
    margin: 0 auto;
  }
  &__logo {
    height: 8rem;
    display: flex;
    align-items: center;
  }
  &__logo-img {
    width: 28rem;
    display: block;
  }
}
.main-contents {
  width: 108rem;
  margin: 0 auto;
}
.search-result {
  font-size: 2rem;
}
.restaurant-list {

  &__item {
    display: flex;
    flex-wrap: nowrap;
    margin: 2.4rem 0rem;
    padding: 2.4rem;
    border-radius: 1.6rem;
    background-color: $color-white;
    -webkit-filter: drop-shadow(0 0 0.2rem rgba(0,0,0,.1));
    filter: drop-shadow(0 0 2rem rgba(0,0,0,.1));
    cursor: pointer;
  }
  &__img-wrap {
    width: 22.4rem;
    height: 22.4rem;
    margin-right: 3.2rem;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  &__shop-name {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
  &__catch {
    color: $color-text-gray;
    margin-top: 0.8rem;
  }
  &__genre {
    color: $color-white;
    background-color: $color-main;
    padding: 0.4rem 0.8rem;
    margin-top: 0.8rem;
    border-radius: 2rem;
  }

  &__station {
    color: $color-text-gray;
    margin-top: 0.8rem;

    &::before {
      content: '';
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.4rem;
      background-image: url(assets/img/ico_station.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: -0.2rem;
    }
  }
  &__close {
    color: $color-text-gray;
    margin-top: 0.2rem;

    &::before {
      content: '';
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.4rem;
      background-image: url(assets/img/ico_close.svg);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: -0.2rem;
    }
  }
  &__budget {
    color: $color-text-gray;
    margin-top: 0.2rem;

    &::before {
      content: '';
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.4rem;
      background-image: url(assets/img/ico_budget.svg);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: -0.2rem;
    }
  }
}
.restaurant-detail {
  width: 64rem;
  margin: 3.2rem auto;

  &__shop-name {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }
  &__genre {
    color: $color-white;
    background-color: $color-main;
    padding: 0.4rem 0.8rem;
    margin-top: 0.8rem;
    border-radius: 2rem;
  }
  &__img-wrap {
    width: 64rem;
    height: 36rem;
    margin: 1.6rem 0rem;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
  }
  &__catch {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
  }
}
.coupon {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__url {
    width: calc(100% - 124px);
    background-color: $color-border;
    padding: 0.8rem 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  &__button {
    display: block;
    background-color: $color-main;
    padding: 0.8rem 1rem;
    border: none;
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.restaurant-info-table {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0.8rem 1.6rem;
  border: 0.1rem solid $color-border;
  border-radius: 1.6rem;
  background-color: #fafafa;

  &__title {
    width: 18rem;
    box-sizing: border-box;
    padding: 1.6rem 0.8rem;
    font-weight: 700;

    &:not(:last-of-type) {
      border-bottom: 0.1rem solid $color-border;
    }
  }
  &__body {
    box-sizing: border-box;
    padding: 1.6rem 0.8rem;
    width: calc(100% - 180px);
    
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid $color-border;
    }
  }
}
.back-button {
  width: 100%;
  height: 4.8rem;
  font-weight: 700;
  border-radius: 1rem;
  color: $color-main;
  background-color: $color-white;
  border: solid 0.1rem $color-main;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: $color-main;
    transition: 0.4s;
  }
}